<h1> <%= @user.user_name %> </h1>

<form action="/session" method="post">
  <input
    type="hidden"
    name="_method"
    value="delete">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <button>Log Out!</button>
</form>
